/* General Styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f9;
  margin: 0;
  padding: 20px;
}

.container {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Title Styling */
h1,
h2,
h3 {
  text-align: center;
  color: #333;
}

/* Form Styling */
form,
#add-driver-section,
#race-session-list {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}

#add-driver-section {
  margin-bottom: 20px;
}

/* Reset box-sizing for consistent element sizing */
form input,
form select {
  box-sizing: border-box; /* Ensures padding and borders are included in the width */
  width: 100%; /* Make both input and select elements fill the parent container */
  padding: 10px; /* Same padding for both */
  margin: 5px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 14px; /* Ensure font size matches */
  appearance: none; /* Normalize the select's dropdown arrow styling */
}

form label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

/* form button {
  width: auto;
  margin-top: 20px;
  padding: 10px 15px;
  background-color: #2980b9;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
} */

/* form button:hover {
  background-color: #3498db;
} */

/* Table Styling */
table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

th {
  background-color: #4caf50;
  color: white;
  padding: 10px;
  text-align: left;
}

td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

/* Alternating row colors */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* Button Styles */
button {
  background-color: #4caf50;
  color: white;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #45a049;
}
